<!DOCTYPE html>
<html>
<head>
  <title>LoveYouPats | Online Greeting | Valentine Special</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/create.css' />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Online Greetings Website" />
  <meta property="og:title" content="Dear <%= to_first_name %> <%= to_last_name + '...' %>" />
  <meta property="og:description" content="yours <%= from_first_name %> <%= from_last_name %>" />
  <meta property="og:image" content="/images/bee-couple.png" />
  <meta property=”og:url” content=”http://loveyoupats.com/" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<div class="image-editor">
<div class="preview">
  <div class="watermark" style="background-image: url('/images/<%= bg_path %>')"></div>
  <div class="board" style="background-color:<%= bg_color %>;"></div>

<div class="photu">
   <div class="cropit-preview">
     <img class="full-width" src="/images/heart.gif"/>
   </div>
   <!--input type="range" class="cropit-image-zoom-input"-->
 </div>

 <div class="right-bottom">
   <img class="full-height" src="/images/kiss.png"/>
 </div>

  <div class="label">
    <div class="content">
      <p>Dear <span em-bind="to_first_name"><%= to_first_name %></span> <span em-bind="to_last_name"><%= to_last_name %></span></p><br>
      <p><span em-bind="message"><%= message %></span></p><br>
      <p>yours</p>
      <p><span em-bind="from_first_name"><%= from_first_name %></span> <span em-bind="from_last_name"><%= from_last_name %></span></p>
    </div>
  </div>

  <div class="footer">
    <p style="font-size: 1.2em;">&copy;LoveYouPats 2018</p>
  </div>

  <div id="bg-tools">
    <!--div class="bg-tool" id="palette"><img src="/images/ic_palette_black.png"/></div-->
    <div class="bg-tool" id="insert-watermark"><img src="/images/ic_palette_black.png"/></div>
  </div>
</div>

<div class="form" id="greetingForm">
  <form id="creator">
    <label for="toFirstName">* Enter your partner's name here:</label>
    <input id="toFirstName" type="text" em-model="to_first_name" placeholder="first name"/><br>
    <input id="toLastName" type="text" em-model="to_last_name" placeholder="last name"/><br>

    <label for="message">* Enter your message here:</label>
    <input id="message" type="text" maxlength="200" em-model="message" value="<%= message %>"/><br>
    
    <label for="fromFirstName">* Enter your name here:</label>
    <input id="fromFirstName" type="text" em-model="from_first_name" placeholder="first name"/><br>
    <input id="fromLastName" type="text" em-model="from_last_name" placeholder="last name"/><br>

    <!--label for="photuFile">* Upload your photo you want to show on greeting (Optional):</label>
		<input id="photuFile" type="file" class="cropit-image-input"><br-->

    <button class="btn" id="btnSubmit">Create your Greeting</button>
  </form>

  <div id="result" style="display:none;">
    <button class="btn" id="btnFeedback">Please give us feedback</button>
    <input id="result-url" type="text" style="margin-bottom: 1em;" value="http://loveyoupats.com/5a79ba701006a646e8c3d39c" readonly/>
    <button class="btn" id="btnCopy">Copy the Greeting URL</button>
    <button class="btn" id="btnView">View Greeting</button>
  </div>
</div>

<div id="swipe_left"><img src="/images/ic_left.png"/></div>
<div id="swipe_right"><img src="/images/ic_right.png"/></div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/javascripts/bind.js"></script>
<script src="/javascripts/watermark.js"></script>
<script src="/javascripts/create.js"></script>
<!--script src="/javascripts/cropit.js"></script-->
</body>
</html>
