<!DOCTYPE html>
<html>
<head>
  <title>LoveYouPats | Online Greeting | Valentine Special</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Online Greetings Website" />
  <meta property="og:title" content="OG:Title" />
  <meta property="og:image" content="/images/bee-couple.png" />
</head>
<body>
<div class="image-editor">
<div class="watermark" style="background-image:url('/images/<%= bg_path %>')"></div>
<div class="board" style="background-color:<%= bg_color %>;"></div>
<div class="greeting">

  <!--div class="photu">
   <div class="cropit-preview"><img class="full-width" src="<%= photu_path %>"/></div>
  </div-->

  <div class="photu">
    <div class="cropit-preview">
      <img class="full-width" src="/images/heart.gif"/>
    </div>
    <!--input type="range" class="cropit-image-zoom-input"-->
  </div>

  <div class="right-bottom">
    <img class="full-height" src="/images/kiss.png"/>
  </div>

  <div class="label">
    <div class="content">
      <p>Dear <%= to_first_name %> <%= to_last_name %></p><br>
      <p><%= message %></p><br>
      <p>yours</p>
      <p><%= from_first_name %> <%= from_last_name %></p>
    </div>
  </div>

  <div class="footer">
    <!--p style="font-size: 1.2em;">This Valentine</p>
    <p style="font-size: 1.5em; font-weight: bold;">14.2.18</p-->
    
    <p style="font-size: 1.2em;">&copy;LoveYouPats 2018</p>
  </div>
</div>
</div>
<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/javascripts/cropit.js"></script-->
</body>
</html>
