<!DOCTYPE html>
<html>
<head>
  <title>LoveYouPats | Online Greeting | Valentine Special</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="background-image"></div>
<div class="greeting">
  <div class="photu">
    <img src="/images/bg21.png" />
  </div>

  <div class="label">
    <div class="content">
      <p>Dear <%= to_first_name %> <%= to_last_name %></p><br>
      <p><%= message %></p><br>
      <p>yours</p>
      <p><%= from_first_name %> <%= from_last_name %></p>
    </div>
  </div>

  <div class="footer">
    <!--p style="font-size: 1.2em;">This Valentine</p>
    <p style="font-size: 1.5em; font-weight: bold;">14.2.18</p-->
    
    <p style="font-size: 1.2em;">&copy;LoveYouPats 2018</p>
  </div>
</div>

</body>
</html>
